@font-face {
    font-family: FiraCode;
    src: url(assets/FiraCodeNerdFont-Light.ttf);
}

:root {
    --font-large: 8rem;
    --font-mid: 1rem;
    --font-big: 2rem;
    --font-para-big: 1.5rem;
}

* {
    font-family: FiraCode;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    transition: background-color 1s;
}



/* ! applies to all sections */
section {
    min-height: 100vh;
    display: grid;
    grid-template: 9fr 1fr/1fr;
}

/* ! index section */

#home-container>h1 {
    font-size: var(--font-large);
    justify-self: center;
    align-self: flex-end;
}



#home-container>div {
    font-size: var(--font-para-big);
    justify-self: center;
    align-self: flex-start;
}

#home-container>div>span {
    transition: all 2s;
    font-style: italic;
    color: rgb(255, 108, 108);
}

#home-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: 1fr 1fr/ 1fr;
    grid-auto-flow: column;
}

/* ! about section */

#about-container {
    height: 100%;
    display: grid;
    grid-template: 1fr/ 60% 40%;
    align-items: center;
}

.about-me,
.github-card {
    margin: 2rem;
    height: max-content;
    padding: 2rem;
    border-radius: 10px;
    background-color: rgb(49, 49, 49);
    text-align: justify;

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.02),
        0px 5px 5px rgba(0, 0, 0, 0.04),
        0px 12px 12px rgba(0, 0, 0, 0.06),
        0px 20px 20px rgba(0, 0, 0, 0.08),
        0px 32px 32px rgba(0, 0, 0, 0.10);
}

.about-me>h1 {
    padding: 0 0 1.5rem 0;
}

.github-card {
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    align-self: self-end;
    margin: 0 1rem 2rem 0;
}

.github-card>a {
    text-align: right;
}

/* ! info section */
#info {
    grid-template: 9fr 10%/1fr;
}

#info-content {
    display: grid;
    grid-template: .3fr 4.5fr 4.5fr/1fr;
    padding: 2rem;
}

#info-content>div {
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 10px;
    background-color: rgb(49, 49, 49);
    display: grid;
    grid-template: 0.5fr /1fr;
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
}

.right,
.left {
    background-color: rgb(30, 30, 30);
    border-radius: 10px;
    width: 60%;
    margin-bottom: 2rem;
    padding: 2rem;

    display: grid;
    grid-template: 1fr/ 8fr 2fr;

    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.02),
        0px 1px 1px rgba(0, 0, 0, 0.04),
        0px 3px 3px rgba(0, 0, 0, 0.06),
        0px 5px 5px rgba(0, 0, 0, 0.08),
        0px 8px 8px rgba(0, 0, 0, 0.10);
}

.right>img,
.left>img {
    align-self: center;
    justify-self: center;
    height: 9rem;
}

.left {
    grid-template: 1fr/ 2fr 8fr;
    justify-self: end;
}

.hide {
    transition: all 1s ease-in-out;
    opacity: 0;
    filter: blur(2px);
    transform: translateX(-300px);
}

.show {
    transition: all 1s ease-in-out;
    filter: blur(0);
    opacity: 1;
}

/* ! project section */
#project-content {
    display: grid;
    grid-template: 0.5fr 3fr 2fr/ 6fr 4fr;
}

#project-content>h1 {
    padding: 2rem;
    font-size: var(--font-big);
}

.projects-link {
    align-self: self-start;
    grid-row: 3/4;
    grid-column: 2/3;
}

/* ! hobbies section */
#hobbies-content {
    padding: 2rem;
    display: grid;
    grid-template: .5fr 2fr 3fr 3fr 3fr /1fr;
}

.hobbies-card {
    width: 70%;
    justify-self: center;
}

#hobbies-content>h1 {
    padding: 2rem;
    font-size: var(--font-big);
}

.pixel-art,
.blender,
.drawing {
    margin: 2rem;
    padding: 2rem;

    border-radius: 10px;
    background-color: rgb(49, 49, 49);
    display: grid;
    grid-template: 1fr 5fr/ 8fr 2fr;

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.02),
        0px 5px 5px rgba(0, 0, 0, 0.04),
        0px 12px 12px rgba(0, 0, 0, 0.06),
        0px 20px 20px rgba(0, 0, 0, 0.08),
        0px 32px 32px rgba(0, 0, 0, 0.10);


}

.pixel-art>p,
.blender>p,
.drawing>p {
    /* padding: 2rem; */
    align-self: center;

}

.pixel-art>img,
.blender>img,
.drawing>img {
    width: 50%;
    justify-self: center;
}

/*! next button */

.next {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-mid);

    justify-self: end;
    margin: 1rem;
    border-radius: 10px;
    background-color: rgb(61, 61, 61);
}

.next>a {
    font-size: var(--font-mid);
    text-decoration: none;
    padding: 1rem;
}

@media screen and (max-width:800px) {
    :root {
        --font-large: 4rem;
        --font-mid: .5fr;
        /* --font-big: 1rem; */
        --font-para-big: .9rem;
    }

    section {
        min-height: 100vh;
        display: grid;
        grid-template: 9fr .5fr/1fr;
    }

    #about-container {
        display: grid;
        grid-auto-flow: row;
        grid-template: 1fr / 1fr;
    }

    .github-card {
        margin: 2rem;
        margin-top: 0;
    }

    .right,
    .left {
        width: 100%;
        grid-template: 1fr/ 1fr;
        text-align: justify;
        justify-self: center;
    }

    .right>img,
    .left>img {
        display: none;
    }

    .left {
        grid-template: 1fr/ 1fr;
    }

    #project-content {
        grid-template: .5fr  / 1fr;
    }

    .projects-link {
        align-self: center;
        grid-row: 3/4;
        grid-column: 1/2;
    }
    .filler{
        display: none;
    }
}